<?xml version="1.0"?>
<robot name="fr01" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find fr01_description)/urdf/common.xacro"/>
  <xacro:include filename="$(find fr01_description)/urdf/materials.xacro"/>
  
  <xacro:include filename="$(find fr01_description)/urdf/body/body.urdf.xacro"/>
  <xacro:include filename="$(find fr01_description)/urdf/leg/leg.urdf.xacro"/>
  <xacro:include filename="$(find fr01_description)/urdf/wheel/wheel.urdf.xacro"/>

  <!-- wheel parameters -->
  <xacro:property name="wheel_radius" value="0.08"/>
  <xacro:property name="wheel_width" value="0.16"/>

  <!--==================== Link & Joint ====================-->
  <link name="base_footprint"/>
  <joint name="base_footprint_joint" type="fixed">
	<origin xyz="0 0 0.370" rpy="0 0 0"/>
	<parent link="base_footprint"/>
	<child link="stabilized_base_link"/>
  </joint>
  
  <!-- Body -->
  <link name="stabilized_base_link"/>
  <xacro:base_v0 parent="stabilized_base_link">
	<origin xyz="0 0 0" rpy="0 0 ${-M_PI/2}"/>
	<origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:base_v0>
  
  <!-- Rocker -->
  <xacro:rocker_v0 side="right" parent="base_link">
  	<origin xyz="0 0 0" rpy="0 0 0"/>
	<inertia ixx="0.0002582" ixy="-0.0000001417" ixz="-0.00004954"
			 iyy="0.0004952" iyz="0.00000007736"
			 izz="0.0003856"/>
  	<origin xyz="0 -0.213 0.028 " rpy="0 0 0"/>
	<axis xyz="0 1 0"/>
  </xacro:rocker_v0>

  <xacro:rocker_v0 side="left" parent="base_link">
  	<origin xyz="0 0 0" rpy="0 0 0"/>
	<inertia ixx="0.0002507" ixy="0.0000001419" ixz="-0.00004954"
			 iyy="0.0004952" iyz="-0.0004669"
			 izz="0.0003932"/>
  	<origin xyz="0 0.213 0.028 " rpy="0 0 0"/>
	<axis xyz="0 1 0"/>
  </xacro:rocker_v0>
  
  <!-- Bogie -->
  <xacro:bogie_v0 side="right" parent="rocker_right_link">
  	<origin xyz="0 0 0" rpy="0 0 0"/>
  	<inertia ixx="0.002" ixy="0.0000006258" ixz="-0.000002349"
  			 iyy="0.002" iyz="-0.0000001149"
  			 izz="0.003"/>
  	<origin xyz="0.2 -0.019945 -0.15" rpy="0 0 ${M_PI}"/>
  	<axis xyz="0 1 0"/>
  </xacro:bogie_v0>

  <xacro:bogie_v0 side="left" parent="rocker_left_link">
  	<origin xyz="0 0 0" rpy="0 0 0"/>
  	<inertia ixx="0.002" ixy="-0.0000006528" ixz="-0.000002349"
  			 iyy="0.002" iyz="0.0000001156"
  			 izz="0.003"/>
  	<origin xyz="0.2 0.019945 -0.15" rpy="0 0 ${M_PI}"/>
  	<axis xyz="0 1 0"/>
  </xacro:bogie_v0>

  <!-- Steer -->
  <xacro:steer_v0 part="right_front" parent="bogie_right_link">
  	<origin xyz="0 0 0" rpy="0 0 0"/>
  	<origin xyz="-0.202 0.115 0.05" rpy="0 0 ${-M_PI/2}"/>
  	<axis xyz="0 0 1"/>
  </xacro:steer_v0>

  <xacro:steer_v0 part="right_back" parent="rocker_right_link">
  	<origin xyz="0 0 0" rpy="0 0 0"/>
  	<origin xyz="-0.4 -0.05 -0.1" rpy="0 0 ${M_PI/2}"/>
  	<axis xyz="0 0 1"/>
  </xacro:steer_v0>

  <xacro:steer_v0 part="left_front" parent="bogie_left_link">
  	<origin xyz="0 0 0" rpy="0 0 0"/>
  	<origin xyz="-0.202 -0.115 0.05" rpy="0 0 ${M_PI/2}"/>
  	<axis xyz="0 0 1"/>
  </xacro:steer_v0>

  <xacro:steer_v0 part="left_back" parent="rocker_left_link">
  	<origin xyz="0 0 0" rpy="0 0 0"/>
  	<origin xyz="-0.4 0.05 -0.1" rpy="0 0 ${-M_PI/2}"/>
  	<axis xyz="0 0 1"/>
  </xacro:steer_v0>
  
  <!-- Wheel -->
  <xacro:wheel_v0 part="right_front" parent="steer_right_front_link"
      wheel_radius="${wheel_radius}" wheel_width="${wheel_width}">
  	<origin xyz="0 0 0" rpy="0 0 0"/>
  	<origin xyz="-0.065 0 -0.2145" rpy="0 0 0"/>
  	<axis xyz="1 0 0"/>
  	<origin xyz="0.065 0 0" rpy="0 ${M_PI/2} 0"/>
  </xacro:wheel_v0>

  <xacro:wheel_v0 part="right_middle" parent="bogie_right_link"
      wheel_radius="${wheel_radius}" wheel_width="${wheel_width}">
  	<origin xyz="0 0 0" rpy="0 0 0"/>
  	<origin xyz="0.198 0.2485 -0.165" rpy="0 0 ${-M_PI/2}"/>
  	<axis xyz="1 0 0"/>
  	<origin xyz="0.065 0 0" rpy="0 ${M_PI/2} 0"/>
  </xacro:wheel_v0>

  <xacro:wheel_v0 part="right_back" parent="steer_right_back_link" 
      wheel_radius="${wheel_radius}" wheel_width="${wheel_width}">
  	<origin xyz="0 0 0" rpy="0 0 0"/>
  	<origin xyz="-0.065 0 -0.2145" rpy="0 0 0"/>
  	<axis xyz="1 0 0"/>
  	<origin xyz="0.065 0 0" rpy="0 ${M_PI/2} 0"/>
  </xacro:wheel_v0>

  <xacro:wheel_v0 part="left_front" parent="steer_left_front_link" 
      wheel_radius="${wheel_radius}" wheel_width="${wheel_width}">
  	<origin xyz="0 0 0" rpy="0 ${M_PI} 0"/>
  	<origin xyz="-0.065 0 -0.2145" rpy="0 ${M_PI} 0"/>
  	<axis xyz="1 0 0"/>
  	<origin xyz="-0.065 0 0" rpy="0 ${M_PI/2} 0"/>
  </xacro:wheel_v0>

  <xacro:wheel_v0 part="left_middle" parent="bogie_left_link" 
      wheel_radius="${wheel_radius}" wheel_width="${wheel_width}">
  	<origin xyz="0 0 0" rpy="0 ${M_PI} 0"/>
  	<origin xyz="0.198 -0.2485 -0.165" rpy="0 ${M_PI} ${M_PI/2}"/>
  	<axis xyz="1 0 0"/>
  	<origin xyz="-0.065 0 0" rpy="0 ${M_PI/2} 0"/>
  </xacro:wheel_v0>

  <xacro:wheel_v0 part="left_back" parent="steer_left_back_link" 
      wheel_radius="${wheel_radius}" wheel_width="${wheel_width}">
  	<origin xyz="0 0 0" rpy="0 ${M_PI} 0"/>
  	<origin xyz="-0.065 0 -0.2145" rpy="0 ${M_PI} 0"/>
  	<axis xyz="1 0 0"/>
  	<origin xyz="-0.065 0 0" rpy="0 ${M_PI/2} 0"/>
  </xacro:wheel_v0>
  
  <!--==================== Transmission ====================-->
  <!-- Rocker -->
  <xacro:rocker_trans_v0 side="right"/>
  <xacro:rocker_trans_v0 side="left"/>

  <!-- Bogie -->
  <xacro:bogie_trans_v0 side="right"/>
  <xacro:bogie_trans_v0 side="left"/>
  
  <!-- Steer -->
  <xacro:steer_trans_v0 part="right_front"/>
  <xacro:steer_trans_v0 part="right_back"/>
  <xacro:steer_trans_v0 part="left_front"/>
  <xacro:steer_trans_v0 part="left_back"/>

  <!-- Wheel -->
  <xacro:wheel_trans_v0 part="right_front"/>
  <xacro:wheel_trans_v0 part="right_middle"/>
  <xacro:wheel_trans_v0 part="right_back"/>
  <xacro:wheel_trans_v0 part="left_front"/>
  <xacro:wheel_trans_v0 part="left_middle"/>
  <xacro:wheel_trans_v0 part="left_back"/>

  <!--==================== Gazebo ====================-->
  <!-- firstly load diff_drive_controller without namespaces -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>
  <!-- Wheel -->
  <xacro:wheel_gazebo_v0 part="right_front"/>
  <xacro:wheel_gazebo_v0 part="right_middle"/>
  <xacro:wheel_gazebo_v0 part="right_back"/>
  <xacro:wheel_gazebo_v0 part="left_front"/>
  <xacro:wheel_gazebo_v0 part="left_middle"/>
  <xacro:wheel_gazebo_v0 part="left_back"/>

  <!-- Body -->
  <xacro:body_gazebo_vo/>

  <!-- Rocker -->
  <xacro:rocker_gazebo_v0 side="right"/>
  <xacro:rocker_gazebo_v0 side="left"/>

  <!-- Bogie -->
  <xacro:bogie_gazebo_v0 side="right"/>
  <xacro:bogie_gazebo_v0 side="left"/>

  <!-- Steer -->
  <xacro:steer_gazebo_v0 part="right_front"/>
  <xacro:steer_gazebo_v0 part="right_back"/>
  <xacro:steer_gazebo_v0 part="left_front"/>
  <xacro:steer_gazebo_v0 part="left_back"/>

  
</robot>
