<launch>
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find fr01_control)/config/fr01_controllers.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager"
        type="spawner" respawn="false"
        output="screen" 
        args="fr01_diff_drive_controller
        joint_state_controller
        steer_right_front_joint_position_controller
        steer_right_back_joint_position_controller
        steer_left_front_joint_position_controller
        steer_left_back_joint_position_controller
        " />

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <!-- <remap from="/joint_states" to="/fr01/joint_states" /> -->
    </node>

</launch>
