<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find fr01_description)/urdf/sensor/hokuyo3d.gazebo.xacro"/>

  <xacro:macro name="hokuyo3d_link_base_link" params="name">
    <link name="${name}">
      <visual>
        <geometry>
	  <mesh filename="package://fr01_description/meshes/visual/yvt-x002.dae"/>
        </geometry>
      </visual>
      <collision>
	<origin xyz="0 0 0"/>
        <geometry>
	  <box size="0.106 0.085 0.105"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.0"/>
        <inertia ixx="0.016" ixy="-0.006" ixz="-0.00002"
		 iyy="0.004" iyz="0"
		 izz="0.018" />
      </inertial>
    </link>
  </xacro:macro>
</robot>
