<launch>

  <node name="fr01_driver" pkg="fr01_driver" type="fr01_driver_node" output="screen" />

  <node name="fr01_controller" pkg="fr01_driver" type="fr01_controller_node" output="screen" /> 
  
  <node name="rossrial_python" pkg="rosserial_python" type="serial_node.py" output="screen">
	<param name="port" value="/dev/ttyACM0" />
  </node>

  <rosparam file="$(find b3m_servo)/config/b3m_driver_sample.yaml" 
			command="load" ns="b3m_driver"/>
  <node name="b3m_driver" pkg="b3m_servo" type="b3m_driver" 
		args="joint_0_driver joint_1_driver joint_2_driver joint_3_driver" output="screen">
	<remap from="/joint_states" to="/steer_joint_ctrl"/>
  </node>

  <node name="ixis_driver" pkg="ros_ixis_imcs01_driver_beta" type="ixis_imcs01_driver" />

</launch>
